
/*************************

Universal Elements

**************************/
html {
    font-family: 'Droid Serif', serif;
    background: white;
}

body {
    margin: 0 0 0 0;
}

h1 {
    margin: 5px 0 0 0;
    color: black;
    text-align: center;
    font-size: 2.7em;
    padding: 0 0 10px 0;
}

h2 {
    margin: 8px 0 8px 0px;
    text-align: center;
    border-bottom: 1px dashed lightblue;
    padding: 0 0 7px 0;
}

h3 {
    margin: 0 0 5px 0;
}

h4 {
	text-align: center;
	margin: 0 0 0 0;
}

iframe {
    width: 40%;
    height: 330px;
    border: 1px solid rgba(0,0,0,0);
}

hr {
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 1px dashed lightblue;
}

form {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
}

input {
    font-size: 130%;
}

iframe {
    width: 32em;
    margin: 10px 0 0 0;
    border: 1px solid rgba(0,0,0,0);
}

@media only screen and (max-width: 658px) {
    iframe {
        width: 500px;
        height: 21em;
    }
}


/*************************

Index Page

**************************/

.lindex {
    width: 100%;
    /* background: white; */
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: auto;
}

@media only screen and (max-width: 658px) {
    .lindex {
        display: initial;
        justify-content: initial;
        width: 100%;
    }
}

/* Left column contents */
.leftClmn {
    float: left;
    width: 70%;
    padding: 10px 10px 10px 10px;
    background: whitesmoke;
    border-left: 1px solid lightblue;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    /* border-top-left-radius: 5px; */
}

@media only screen and (max-width: 658px) {
    .leftClmn {
        width: 100%;
        border: initial;
        /* border-radius: initial; */
        border-top: 1px solid lightblue;
        padding: initial;
    }
}

.libColl {
    display: flex;
    justify-content: center;
}

.b1, .b2, .b3, .b4, .b5 {
    background: white;
    float: left;
    width: 16.3em;
    margin: 0 2px 0 2px;
    border: 2px solid lightblue;
    text-align: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s ease-in-out;
}

.b1 {
    background-image: url('../elements/knovel_logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b2 {
    background-image: url('../elements/ieee_logo.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b3 {
    background-image: url('../elements/eit_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b4 {
    background-image: url('../elements/academic_onefile_logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b5 {
	 background-image: url('../elements/google_scholar_logo.PNG');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.b1 a, .b2 a, .b3 a, .b4 a, .b5 a {
    display: block;
    padding: 50px 0 50px 0;
    color: black;
    text-decoration: none;
}

.b1:hover, .b2:hover, .b3:hover, .b4:hover, .b5:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

@media only screen and (max-width: 658px) {
    .libColl {
        display: initial;
        justify-content: initial;
    }

    .b1, .b2, .b3, .b4, .b5 {
        width: 100%;
        margin: -3px 0 10px 0;
        padding: 0;
        border: none;
        border-top: 1px solid lightblue;
        border-bottom: 1px solid lightblue;
    }
}

/* Right column contents */
.rightClmn {
    float: left;
    text-align: center;
    width: 25%;
    background: whitesmoke;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-left: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    /* border-top-right-radius: 5px; */
}

.rightClmn a {
    color: black;
    text-decoration: none;
}

.qLinkC {
    /* margin: 0 0 0 0.5em; */
    /* text-align: center; */

}

.qLinkC a {
    display: block;
    padding: 20px 0 20px 0;
    /* background: red; */
    /* margin: 0 0 -20px 0; */
    transition: .4s ease-in-out;
}

.qLinkC a:hover {
    color: black;
    background: rgba(73, 190, 228, 0.4);
}

@media only screen and (max-width: 658px) {
    .rightClmn {
        width: 100%;
        border: initial;
        border-radius: initial;
        border-bottom: 1px solid lightblue;
        padding: 0 0 1em 0;
    }
}

li a:hover {
    color: blue;
    text-decoration: underline;
}

.contactUs {
    padding: 10px 0 10px 0;
    width: 85%;
    border-radius: 0;
    background: #49bee4;
    transition: .4s ease-in-out;
    margin: auto;
}

.contactUs span {
    font-size: 165%;
    font-weight: bold;
    color: white;
}

.contactUs:hover {
    background: #0d4787;
    color: white;
}



