html {
    font-family: 'Droid Serif', serif;
    background: white;
}

h1 {
    margin: 0 0 0 0;
    color: black;
    text-align: center;
    font-size: 3.9em;
    padding: 0 0 10px 0;
}

iframe {
    width: 40%;
    height: 330px;
    border: 1px solid rgba(0,0,0,0);
}

hr {
	border: rgba(0,0,0,0);
	border-bottom: 1px dashed lightblue;
	margin: 0.8em 0 -0.5em 0;
}

.lindex {
    width: 95%;
    background: white;
    margin: auto;
    overflow: auto;
}

/* Left column contents */
.leftClmn {
    float: left;
    width: 70%;
    background: lightgray;
    border-left: 1px solid lightblue;
    border-top: 1px solid lightblue;
    border-top-left-radius: 10px;
}

/* Right column contents */
.rightClmn {
    float: left;
    width: 25%;
    background: whitesmoke;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid lightblue;
    border-right: 1px solid lightblue;
    border-top-right-radius: 10px;
}

.rightClmn a {
    color: black;
    text-decoration: none;
}

.rightClmn li {
    list-style-type: none;
    line-height: 2em;
}

.rightClmn ul {
    margin: -14px 0 0 -38px;
}

.contactUs {
    text-align: center;
    padding: 10px 0 10px 0;
    width: 65%;
    border-radius: 0;
    background: #49bee4;
    transition: .4s ease-in-out;
    margin: auto;
}

.contactUs span {
    font-size: 165%;
    font-weight: bold;
    color: white;
}

.contactUs:hover {
    background: #0d4787;
    color: white;
}
